<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{{site.baseurl}}/">{{ site.title }}</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="{{site.baseurl}}/">Home</a></li>
        <li><a class="nav-link scrollto" href="{{site.baseurl}}/providers">Providers</a></li>
        <li><a class="nav-link scrollto" href="{{site.baseurl}}/about">About</a></li>
        <li><a class="nav-link scrollto" href="{{site.baseurl}}/contact">Contact</a></li>
        <li><a class="nav-link scrollto" href="https://mycw39.eclinicalweb.com/region7/jsp/100mp/login_otp.jsp"
            target="_blank">Patient Portal</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
<!-- End Header -->